---
import { Icon } from "astro-icon/components";
---

<!-- Theme Toggle Button -->
<button
  class="btn btn-ghost h-12 w-12 p-2"
  aria-label="Toggle theme"
  id="theme-toggle"
  title="Toggle Theme"
>
  <div id="theme-icon-wrapper" class="relative h-6 w-6">
    <Icon name="lucide:sun" class="sun-icon absolute hidden h-6 w-6" />
    <Icon name="lucide:moon" class="moon-icon absolute hidden h-6 w-6" />
  </div>
</button>

<style>
  @keyframes spin-once {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-once {
    animation: spin-once 0.3s ease-in-out;
  }
</style>
