---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getAllCategories, getPostByCategory } from "@utils/blog-utils";

export async function getStaticPaths() {
  const categories = await getAllCategories();
  return categories.map((category) => ({
    params: { category: category.id },
  }));
}

const { category } = Astro.params;

const postsByCategory = await getPostByCategory(category);

// console.log(postsByCategory);
---

<BaseLayout>
  <div>
    <h1>{category}</h1>
  </div>
</BaseLayout>
